 set nocompatible               " be iMproved
 filetype off                   " required!

 set rtp+=~/.vim/bundle/vundle/
 call vundle#rc()

 " let Vundle manage Vundle
 " required! 
 Bundle 'gmarik/vundle'

 " My Bundles here:
 "
 " original repos on github
 Bundle 'tpope/vim-fugitive'
 Bundle 'kien/ctrlp.vim'
 Bundle 'scrooloose/nerdtree'
 Bundle 'scrooloose/syntastic'
 Bundle 'majutsushi/tagbar'
 Bundle 'pangloss/vim-javascript'
 Bundle 'hallettj/jslint.vim'
 Bundle 'SirVer/ultisnips'
 Bundle 'altercation/vim-colors-solarized'

filetype plugin indent on

syntax on
set hlsearch
set enc=utf-8
set expandtab
set shiftwidth=2
set softtabstop=2

" backup and history
set history=1000
set backup
set backupdir=$HOME/.vim/.vimbackup
set noswapfile
set undofile
set undodir=$HOME/.vim/.vimundodir

" ui
set ruler
set nu
set showmatch
set incsearch

source $HOME/.vim/solarized.config
source $HOME/.vim/ctrlp.config
source $HOME/.vim/nerdtree.config
source $HOME/.vim/tagbar.config
