 set nocompatible               " be iMproved
 filetype off                   " required!

 set rtp+=~/.vim/bundle/vundle/
 call vundle#rc()

 " let Vundle manage Vundle
 " required! 
 Bundle 'gmarik/vundle'

 " My Bundles here:
 "
 " original repos on github
 Bundle 'tpope/vim-fugitive'
 Bundle 'kien/ctrlp.vim'
 Bundle 'scrooloose/nerdtree'
 Bundle 'scrooloose/syntastic'
 Bundle 'majutsushi/tagbar'
 Bundle 'pangloss/vim-javascript'
 Bundle 'hallettj/jslint.vim'
 Bundle 'SirVer/ultisnips'
 Bundle 'honza/snipmate-snippets'
 Bundle 'altercation/vim-colors-solarized'
 Bundle 'tomasr/molokai'
 Bundle 'spf13/PIV'
 Bundle 'tomtom/tcomment_vim'
 Bundle 'tpope/vim-surround'
 Bundle 'derekwyatt/vim-scala'
 Bundle 'http://git.drupal.org/project/vimrc.git', {'rtp': 'bundle/vim-plugin-for-drupal/'}
 Bundle 'rstacruz/sparkup', {'rtp': 'vim/'}

filetype plugin indent on

syntax on
set hlsearch
set enc=utf-8

" set tabs
set expandtab
set shiftwidth=2
set softtabstop=2

" backup and history
set history=1000
set backup
set backupdir=$HOME/.vim/.vimbackup
set noswapfile
set undofile
set undodir=$HOME/.vim/.vimundodir

" ui
set ruler
set nu
set showmatch
set incsearch

" Key Mappings
nmap ç <C-]>

" source $HOME/.vim/solarized.config
source $HOME/.vim/ctrlp.config
source $HOME/.vim/nerdtree.config
source $HOME/.vim/tagbar.config
source $HOME/.vim/molokai.config
source $HOME/.vim/piv.config
