 set nocompatible               " be iMproved
 filetype off                   " required!

 set rtp+=~/.vim/bundle/vundle/
 call vundle#rc()

 " let Vundle manage Vundle
 " required! 
 Bundle 'gmarik/vundle'

 " My Bundles here:
 "
 " original repos on github

 " VCS integration 
 Bundle 'tpope/vim-fugitive'
 Bundle 'phleet/vim-mercenary'

 " Browsing Plugins
 Bundle 'kien/ctrlp.vim'
 Bundle 'scrooloose/nerdtree'
 Bundle 'majutsushi/tagbar'
 " Bundle 'Lokaltog/powerline'
 Bundle 'mileszs/ack.vim'

 " Navigation/Motion plugins
 " Bundle 'terryma/vim-multiple-cursors'
 Bundle 'tpope/vim-surround'

 " Session Management
 Bundle 'xolox/vim-session'

 " Color schemes
 Bundle 'altercation/vim-colors-solarized'
 Bundle 'tomasr/molokai'
 Bundle 'blak3mill3r/c.vim'
 Bundle 'sjl/badwolf'

 " Coding plugins
 Bundle 'scrooloose/syntastic'
 Bundle 'SirVer/ultisnips'
 Bundle 'honza/vim-snippets'
 Bundle 'derekwyatt/vim-scala'
 Bundle 'Valloric/YouCompleteMe'

 " Javascript plugins
 Bundle 'wookiehangover/jshint.vim'
 Bundle 'pangloss/vim-javascript'
 Bundle 'marijnh/tern_for_vim'

 " Python specific plugins
 Bundle 'klen/python-mode'
 Bundle 'davidhalter/jedi-vim'

 " PHP/Drupal specific plugins
 Bundle 'http://git.drupal.org/project/vimrc.git', {'rtp': 'bundle/vim-plugin-for-drupal/'}

 " Bundle 'trotter/autojump.vim'
 Bundle 'tomtom/tcomment_vim'
 " Bundle 'jelera/vim-javascript-syntax'
 Bundle 'rstacruz/sparkup', {'rtp': 'vim/'}


syntax on
" backup and history
set history=5000
set backup
set backupdir=$HOME/.vim/.vimbackup
set noswapfile
set undofile
set undodir=$HOME/.vim/.vimundodir
set guioptions-=T  "remove toolbar

" ui
set ruler
set nu
set showmatch
set incsearch

" Bundle configurations
source $HOME/.vim/extra.config
source $HOME/.vim/solarized.config
source $HOME/.vim/ctrlp.config
source $HOME/.vim/pymode.config
source $HOME/.vim/nerdtree.config
source $HOME/.vim/tagbar.config
source $HOME/.vim/gvim.config
source $HOME/.vim/sessions.config
" source $HOME/.vim/molokai.config
" source $HOME/.vim/badwolf.config
